$('#sign-in-errors').remove();
$( "form#sign_in" ).prepend( "<div id='sign-in-errors' class='alert alert-danger margin-top-sm' role='alert'><a href='#' data-dismiss='alert' class='close'>×</a>Invalid Email or Password</div>" );