<div id="cookies-bar" class="cookies-bar">
  <p>
   By Clicking on "Accept Cookies", you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts. For more details, read our <a href="https://www.crowdfrica.org/privacy" >Privacy Policy.</a>
  </p>

  <%= link_to 'Accept', request.original_url, class: 'btn accept' %>
  <%= link_to 'Reject', request.original_url, class: 'btn reject' %>
</div>