<section class="OurValues">
	<div class="container">
		<h2 class="section-title"><b>As Mentioned On</b></h2>
		<div class="MentioneOn row">
			<%= link_to "http://disrupt-africa.com", :target => "_blank" do %>
				<div class="col-md-3 logos" id="dis-af"></div>
			<% end %>
			<%= link_to "https://www.merckgroup.com/", :target => "_blank" do %>
				<div class="col-md-3 logos" id="merk"></div>
			<% end %>
			<%= link_to "https://vc4a.com/", :target => "_blank" do %>
				<div class="col-md-3 logos" id="vc"></div>
			<% end %>
			<%= link_to "https://turnerfamilycenter.com/", :target => "_blank" do %>
				<div class="col-md-3 logos" id="turner"></div>
			<% end %>
		</div>   	
	</div>
</section>