<% provide(:title, "Contact Us & FAQS".html_safe) %>
<div class="container">
	<div class="row">
		<div class="FAQs_heading">
			<h2>Contact Us & FAQs</h2>
		</div>
		<div class="col-sm-5">
			<div class="Contact">
				<h2>Contact</h2>
				<div class="USA"><h4>USA</h4>
				<p>Tel: <a href="tel:+1 (916) 888-8701">+1 (916) 888-8701</a></p>
				<p>Email: <a href="mailto:hello@crowdfrica.org">hello@crowdfrica.org</a></p>
				<p>118 Boston Commons PI. Roseville, CA 95661, United States</p>
				</div>
				<h4>Ghana</h4>
				<p>Tel: <a href="tel:+233555941094">+233 555 941 094</a></p>
				<p>Email: <a href="mailto:hello@crowdfrica.org">hello@crowdfrica.org</a></p>
				<p>Impact Hub Accra, F393/4, Otswe Street, Osu, Accra- Ghana</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1985.531799979768!2d-0.17256296326390722!3d5.557591680769628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9107627dad3d%3A0xd35912fedb02095e!2sImpact%20Hub%20Accra%20-%202AAP!5e0!3m2!1sen!2sus!4v1598978241429!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>
		<div class="col-sm-7" >
		<div class="FaqRapper">
		<h2>Frequently Asked Questions</h2>
			<div class="FaqBox">
			<h4>What is Crowdfrica.org?</h4>
			<p> Crowdfrica is a global crowdfunding platform through which anyone anywhere can donate to fund healthcare and classroom supplies for people and public schools in need across Africa. </p>
			</div>
			<br>

			<div class="FaqBox">
			<h4>How did Crowdfrica come about?</h4>
			<p> After Randy's brother died because his family couldn't afford to take him to the hospital, he started crowdfrica to connect people in need to those who can help. <a href="https://www.crowdfrica.org/about">Read Full Story</a></p>
			</div>
			<br>

			<div class="FaqBox">
			<h4>How do I donate through Mobile Money?</h4>
			<p>Please select Mpower where you have to choose your preferred payment method and select your mobile money network to donate with.</p>
			</div>
			<br>

			<div class="FaqBox">
			<h4>Can I donate via a wire transfer?</h4>
			<p> Yes you can. Please contact us at hello@crowdfrica.org</p>
			</div>
			<br>

			<div class="FaqBox">
			<h4>Can I send cheque or cash ?</h4>
			<p> Yes, you can send the cheque to our office or call us.</p>
			<p>Tel: +233 (0) 555 941 094</p>
			<p>Impact Hub Accra, F393/4, Otswe Street, Osu, Accra- Ghana.
			<p>Email: hello@crowdfrica.org</p>

			</div>
			<br>

			<div class="FaqBox">
			<h4>Are you a Health Insurance Company?</h4>
			<p> Crowdfrica is not a Health Insurance Company. In Ghana we work with the National Health Insurance Authority, where we raise funds for people in high-need communities, so they can be registered under the NHIS. The NHIS provides free access to healhcare to all users.</p>
			</div>
			<br>


			<div class="FaqBox">
			<h4>How Is Crowdfrica going to be sustainable ?</h4>
			<p> We really want to be 100% sustainble by forming corporate partnerships and accepting tips on our platform. </p>
			</div>
			<br>

			<div class="FaqBox">
			<h4>Is my donation tax deductible?</h4>
			<p> No. We are very new and in the process of getting a 501(c)(3) status which will make your donations tax deductible in the future.</p>
			</div>
			<br>
		</div>
		</div>
	</div>
</div>
