<% provide(:title, "Donate to Us") %>
<div class="container">
	<div class="row">
		<div class="FAQs_heading">
			<h2>Donate To Crowdfrica</h2>
			<p><h4>Donation to our General fund goes to new and urgent campaigns</h4></p>	
		</div>
			
		</div>
		<div class="col-sm-10" >
		<div class="FaqRapper">
		<h2>Donate to Our Operation fund</h2>
			<div class="FaqBox">
			<p>Donate to our Operatonal Fund to support our work. It will help improve our work and and help us expand our reach to more patients, health workers, teahers and their children :)</p>
			<p><h4><kbd>100% goes to support our operations</kbd></h4></p>
			</div>
			<br>
			<div class="opAccount">
				<h3> Ways To Support</h3><p><br>

				<b><h5>Mobile Money</h5></b> </p>
				MTN: <b>0555941094</b><br>

				<h5><b> BANK</b></h5>
				<p> Name: <b>Crowdfrica Organisation</b></p>
				<P>Account Number:<b> 206-108413-140</b></P>
				<P>Swift Code: <b>GTBIGHAC</b></P><br>

				<b> Bank Address</b>
				<p> Guaranty Trust Bank Ghana</p>
				<p>25A Castle Road, Ambassadorial Area</p>
                <p> Ridge, Accra, Ghana</p>	 

                <%= render 'shared/donation_banner', obj: @crowdfrica %>

			</div>
		</div>
		</div>
	</div>
</div>
