<div class="col-md-12 GiftHead"><h3> Be different. Give a gift that makes a difference. </h3></div>
<div class="gift-up-target" data-site-id="aaf087d6-4596-44d4-b119-35bd3ed4ea65" data-platform="Other"></div>
<script type="text/javascript">
(function (g, i, f, t, u, p, s) {
    g[u] = g[u] || function() { (g[u].q = g[u].q || []).push(arguments) };
    p = i.createElement(f);
    p.async = 1;
    p.src = t;
    s = i.getElementsByTagName(f)[0];
    s.parentNode.insertBefore(p, s);
})(window, document, 'script', 'https://cdn.giftup.app/dist/gift-up.js', 'giftup');
</script>
<%# <div class="gift-up-target" data-site-id="e468cb93-4d43-441e-8fb0-6277166df172" data-platform="Other"></div>
<script type="text/javascript">
(function (g, i, f, t, u, p, s) {
    g[u] = g[u] || function() { (g[u].q = g[u].q || []).push(arguments) };
    p = i.createElement(f);
    p.async = 1;
    p.src = t;
    s = i.getElementsByTagName(f)[0];
    s.parentNode.insertBefore(p, s);
})(window, document, 'script', 'https://cdn.giftup.app/dist/gift-up.js', 'giftup');
</script> %>
