<% provide(:title, "How it works") %>
<div class="row">
	<div class="centertext">
		<div>
			<div class="ids1">
				<span> How It Works</span>
				<h3><kbd>They Ask, you support.Together we impact Lives!</kbd></h3>
			</div>
			<div class="container">
				<p>
					Crowdfrica accepts card, PayPal and mobile money payments. Card and PayPal payments can be made on a campaign’s page by entering the amount you wish to donate, then clicking “Donate Now” and following the instructions. You must first create a Crowdfrica account before contributing to a campaign. </p>
				<p>
					If you would like to pay via mobile money (only available to those in Ghana with a registered mobile money account), please dial *789*11#  and follow the instructions. You will be asked for the campaign’s code, which can be found in the top right section of any campaign page under the MoMo (USSD) section. 
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row row-centered">
		<div class="col-xs-12 col-md-8 col-centered" >
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="640" height="360" src="https://www.youtube.com/embed/6B2fTn4Nv_o" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<%= render "shared/how_it_works" %>	

