<% provide(:title, "Share") %>
<div class="HowItWorks">
	<h1> Support Crowdfrica With 3 Clicksf</h1><p>
	<h3><kbd>They Ask, you support.Together we save Lives!</kbd></h3></p>
</div>

<!-- 16:9 aspect ratio -->
<div class="container">

	<div class="share">
	<p>
		Wow!
<br>
We hope you're having an awesome day. You're here because we know you have influence. When you share something, people pay attention. So, please take a few seconds to spread the Crowdfrica love.
<br>
<p>
Thanks so much,
	
</p>
<br>
Randy, Kofi and the entire Crowdfrica Team 
	</p>
</div>
	<div class="row row-centered">
		<div class="col-sm-4 col-centered" >
			<h1>1</h1>
			<h3>Tweet to your loyal Followers</h3>
			<div>
			
			<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			
  		</div>	

  		<div class="col-sm-4 col-centered" >
  			<h1>2</h1>
  			<h3>Share Crowdfrica with your Friends</h3>
			<div>
			<button>
				<a class="btn">
  				<span class="fa fa-facebook">acebook</span>
				</a>
			</button>		
			</div>
			
  		</div>	

  		<div class="col-sm-4 col-centered" >
  			<h1>3</h1>
  			<h3>Share Our Video</h3>
			<div>
			<button>
				<a class="btn ">
  				<span class="fa fa-youtube"></span>
				</a>
			</button>	
			</div>
		
  		</div>	

	</div>
</div>	
	    
	
