// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payments_icon{
	margin-left: 50px;
	text-align: center;
}

.color-a{
	color: #574b90;
}

.color-b{
	color: #e84118;
}

.color-c{
	color: #487eb0;
}